<nav>
    <a routerLinkActive="active-link" routerLink="/home">Home</a>
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/viewemployee">Employee Details</a>
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/employees">Employees search</a>
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/login">Login</a>
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/editemployee_tdf">Edit Employee[Template]</a>
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/editemployee_rcf">Edit Employee[Reactive]</a> 
    <span>&nbsp;&nbsp;</span>
    <a routerLinkActive="active-link" routerLink="/increment">Quantity</a>
    <span>&nbsp;&nbsp;</span>
</nav>
